config.json
config.cfg
__pycache__/
python3.11/
.idea/
data/*.json
.chatgpt_cache.json
Dockerfile.dev
**/.DS_Store
venv/
qq.py
bot1.py

go-cqhttp.pid
restart.sh
update.patch
device.json
staged-changes.patch
